Node-Red/flipdot-ctrl.json
[{"id":"8cbe36d0.4dff48","type":"tab","label":"Flow 1"},{"id":"affef4d.5058988","type":"tab","label":"Flow 2"},{"id":"e657421a.9ad0a","type":"serial-port","z":"","serialport":"/dev/arduino","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"fe20d771.435ce","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#10cfd8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Flipdot Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18574b8e.7c184c","type":"ui_tab","z":"","name":"Flipdot","icon":"dashboard","order":0},{"id":"aa81df14.aaaed","type":"ui_group","z":"","name":"LED","tab":"18574b8e.7c184c","order":null,"disp":true,"width":"6"},{"id":"31bcb751.8d0c6","type":"ui_group","name":"Group","tab":"18574b8e.7c184c","order":null,"disp":true,"width":6},{"id":"4b976ed6.175148","type":"ui_group","z":"","name":"Text","tab":"18574b8e.7c184c","order":null,"disp":true,"width":"6"},{"id":"b798e8f9.dd4368","type":"twitter-credentials","z":"","screen_name":"@RoboterFreak"},{"id":"d735b9af.6e7fc8","type":"inject","z":"8cbe36d0.4dff48","name":"","topic":"","payload":"C\\n","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.5,"y":110,"wires":[["262ba6c.d7c52da","f0474843.06f1b8"]]},{"id":"f0474843.06f1b8","type":"serial out","z":"8cbe36d0.4dff48","name":"Arduino","serial":"e657421a.9ad0a","x":405.5,"y":108,"wires":[]},{"id":"262ba6c.d7c52da","type":"debug","z":"8cbe36d0.4dff48","name":"","active":true,"console":"false","complete":"payload","x":397.5,"y":50,"wires":[]},{"id":"9aa1d5b9.8e4e38","type":"serial in","z":"8cbe36d0.4dff48","name":"Arduino","serial":"e657421a.9ad0a","x":125.5,"y":469,"wires":[["b1bb3401.dd8038"]]},{"id":"b1bb3401.dd8038","type":"debug","z":"8cbe36d0.4dff48","name":"","active":false,"console":"false","complete":"false","x":364.5,"y":473,"wires":[]},{"id":"b917b358.6533d","type":"inject","z":"8cbe36d0.4dff48","name":"","topic":"","payload":"P,Y,0,0,X,HALLO DIES IST EIN TEST","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.5,"y":200,"wires":[["f0474843.06f1b8","262ba6c.d7c52da"]]},{"id":"a0d04317.5e2828","type":"inject","z":"8cbe36d0.4dff48","name":"","topic":"","payload":"L,0,0,255\\n","payloadType":"str","repeat":"","crontab":"","once":false,"x":147.5,"y":330,"wires":[["f0474843.06f1b8","262ba6c.d7c52da"]]},{"id":"c7304c4.5f40cb","type":"ui_colour_picker","z":"affef4d.5058988","name":"","label":"","group":"aa81df14.aaaed","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":true,"topic":"","x":130.5,"y":56,"wires":[["b1560aa9.c6316"]]},{"id":"d735c747.7d499","type":"debug","z":"affef4d.5058988","name":"","active":true,"console":"false","complete":"false","x":569.5,"y":129,"wires":[]},{"id":"b1560aa9.c6316","type":"function","z":"affef4d.5058988","name":"calcRGB","func":"var red = msg.payload.r;\nvar green = msg.payload.g;\nvar blue = msg.payload.b;\nvar newMsg = {payload: \"L,\" + red + \",\" + green + \",\" + blue + \"\\n\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":360.5,"y":52,"wires":[["d735c747.7d499","bd2e446d.bc8908"]]},{"id":"bd2e446d.bc8908","type":"serial out","z":"affef4d.5058988","name":"","serial":"e657421a.9ad0a","x":582.5,"y":208,"wires":[]},{"id":"eea47208.4537a8","type":"ui_form","z":"affef4d.5058988","name":"","label":"","group":"4b976ed6.175148","order":0,"width":0,"height":0,"options":[{"label":"Text","value":"Text","type":"text","required":true},{"label":"Inverse Color","value":"Color","type":"checkbox","required":true},{"label":"Small Font","value":"Font","type":"checkbox","required":true}],"formValue":{"Text":"","Color":false,"Font":false},"payload":"","topic":"","x":95.5,"y":293,"wires":[["d6795a4.94413a8","d735c747.7d499"]]},{"id":"d6795a4.94413a8","type":"function","z":"affef4d.5058988","name":"formatText","func":"var color = (msg.payload.Color === true) ? 'Y' : 'B'; \nvar xofs = 0;\nvar yofs = 0;\nvar font = 'L';\nvar newMsg = {payload: \"P,\" + color + \",\" + xofs + \",\" + yofs + \",\" + font + \",\" + msg.payload.Text + \"\\n\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":360.5,"y":344,"wires":[["d735c747.7d499","bd2e446d.bc8908"]]},{"id":"5a4ac085.3f5d78","type":"twitter in","z":"8cbe36d0.4dff48","twitter":"b798e8f9.dd4368","tags":"","user":"dm","name":"","topic":"tweets","inputs":0,"x":174.5,"y":395,"wires":[["895b8f08.85f2d8"]]},{"id":"895b8f08.85f2d8","type":"function","z":"8cbe36d0.4dff48","name":"parseTwitter","func":"var newMsg = {payload: \"P,Y,0,0,S,\" + msg.payload + \"\\n\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":421.5,"y":389,"wires":[["262ba6c.d7c52da","f0474843.06f1b8"]]}]
